################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SirmaSolution.PairEmployees.WinClient/obj
/SirmaSolution.PairEmployees.UnitTests/obj
/SirmaSolution.PairEmployees.ConsoleClient/obj
/SirmaSolution.PairEmployees/obj
